@import '@greycat/web/css/greycat.css';

@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

/* Default variables */
/* :root {
  --font-family: 'Open Sans', sans-serif;
  --font-size: 14px;
  --font-size-sm: 14px;
  --font-size-md: 14px;
  --font-size-lg: 14px;
  --font-size-xl: 14px;
  --font-weight: normal;

  --spacing: 0.5rem;

  --form-element-active-border-color: var(--primary);
  --form-element-spacing-vertical: 0.1rem;
  --form-element-spacing-horizontal: 0.2rem;
  --form-element-background-color: var(--bg-1);
  --form-element-disabled-background-color: var(--bg-0);

  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  --nav-link-spacing-vertical: 0.2rem;
  --nav-link-spacing-horizontal: 0.4rem;
  --nav-element-spacing-vertical: 0.2rem;
  --nav-element-spacing-horizontal: 0.4rem;

  --card-background-color: var(--bg-0);
  --card-sectionning-background-color: var(--bg-1);

  --code-color: var(--primary);
  --code-background-color: var(--bg-1);

  --table-border-color: rgba(var(--text-2), 0.2);

  --block-spacing-vertical: var(--spacing);
  --block-spacing-horizontal: var(--spacing);

  --accordion-border-color: rgba(var(--text-2), 0.2);
  --accordion-open-summary-color: var(--primary);

  --dropdown-background-color: var(--bg-1);
  --dropdown-hover-background-color: var(--bg-0);

  --modal-overlay-background-color: rgba(var(--base-2), 0.35);

  --grid-spacing-vertical: var(--spacing);
} */

/* Dark colors (default) */
/* :root,
:root:not([data-theme]),
:root:not([data-theme='light']) {
  color-scheme: dark;

  --primary: rgb(var(--accent-0));
  --primary-hover: rgb(148, 224, 17);
  --primary-focus: rgba(205, 249, 127, 0.2);
  --primary-inverse: rgb(var(--text-inverse));

  --secondary: #5684f1;
  --secondary-hover: #3b6ee4;
  --secondary-focus: rgba(205, 249, 127, 0.2);
  --secondary-inverse: #fff;

  --bg-0: #101010;
  --bg-1: #181818;
  --bg-2: #252525;

  --color: #eaeaea;
  --background-color: var(--bg-2);

  --text-0: 255, 255, 255;
  --text-1: 215, 215, 215;
  --text-2: 156, 160, 164;
  --text-inverse: 0, 0, 0;

  --base-0: 20, 20, 20;
  --base-1: 40, 40, 40;
  --base-2: 61, 61, 61;

  --accent-0: 192, 248, 95;
  --accent-1: 198, 249, 111;
  --accent-2: 205, 249, 127;

  --neutral-0: 119, 119, 122;
  --neutral-1: 116, 124, 133;
  --neutral-2: 132, 138, 147;

  --color-0: #c0f85f;
  --color-1: #cb9cf8;
  --color-2: #779ef7;
  --color-3: #37c43e;
  --color-4: #5737c4;
  --color-5: #8c1fab;
  --color-6: #4fc0e8;
  --color-7: #f7458e;
  --color-8: #fe7e6d;
  --color-9: #ffe35b;
  --color-10: #fc7db7;
  --color-11: #2237c4;
  --color-12: #3b254c;

  --color-error: #f74318;

  --border-radius: 0.3rem;
  --shadow: 0px 1px 1px 0px rgb(var(--base-1));
} */

/* Light colors */
/* :root[data-theme='light'] {
  color-scheme: light;

  --primary: #37c43e;
  --primary-hover: #4fd24a;
  --primary-focus: rgba(205, 249, 127, 0.6);
  --primary-inverse: rgb(var(--text-inverse));

  --secondary: #5684f1;
  --secondary-hover: #3b6ee4;
  --secondary-focus: rgba(205, 249, 127, 0.2);
  --secondary-inverse: #fff;

  --bg-0: #e5e5e5;
  --bg-1: #c9c9c9;
  --bg-2: #fff;

  --color: #151515;
  --background-color: var(--bg-2);

  --text-0: 0, 0, 0;
  --text-1: 20, 20, 20;
  --text-2: 40, 40, 40;
  --text-inverse: 255, 255, 255;

  --base-0: 255, 255, 255;
  --base-1: 240, 240, 240;
  --base-2: 224, 226, 228;

  --accent-0: 55, 196, 62;
  --accent-1: 178, 246, 58;
  --accent-2: 192, 248, 95;

  --neutral-0: 119, 119, 122;
  --neutral-1: 116, 124, 133;
  --neutral-2: 132, 138, 147;

  --color-0: #a2e163;
  --color-5: #d55ef7;
  --color-7: #d74186;
  --color-8: #fe7d3e;
  --color-9: #ffc645;
  --color-10: #ea70bf;
} */

app-layout {
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacing);

    nav {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        /* reset picoss left padding */
        padding-left: 0 !important;

        :where(li, a) {
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;
        }
      }

      ul:first-of-type {
        /* reset picocss negative margin */
        margin-left: 0;
      }

      ul:last-of-type {
        /* reset picocss negative margin */
        margin-right: 0;
      }
    }
  }

  nav.responsive {
    display: none;

    li {
      display: flex;
      height: 100%;
      align-items: center;

      &:last-child {
        margin-right: calc(var(--spacing) * 2);
      }

      a,
      button {
        padding-left: 4px;
        padding-right: 4px;
        align-items: center;
        display: flex;
        height: 100%;
        flex: 1;
        /* width: 40px; */
      }
    }
  }
}

app-layout nav {
  li {
    a,
    button {
      padding: 0.4rem 0;
      border-radius: 0;
      border: 0;
    }

    a.active {
      background-color: var(--primary-focus);
    }

    button[role='link']:is([aria-current], :hover, :active, :focus) {
      background-color: var(--gb-0);
    }
  }
}

/* Small devices */
@media (max-width: 991px) {
  app-layout {
    display: block;

    aside {
      display: none;
    }

    nav.responsive {
      display: flex;
      background-color: var(--bg-0);

      ul {
        gap: calc(var(--spacing) * 0.5);
      }
    }

    li.brand {
      a svg {
        width: 42px;
        height: auto;
      }
    }

    li a svg,
    li button svg {
      width: 18px;
      height: auto;
    }
  }

  nav ol:last-of-type,
  nav ul:last-of-type {
    /* reset pico */
    margin-right: 0;
  }
}

/* Large devices */
@media (min-width: 992px) {
  app-layout {
    display: grid;
    grid-template-columns: 60px 1fr;

    & > * {
      /* ie. https://datacadamia.com/web/css/grid/overflow */
      min-width: 0px;
    }

    aside {
      display: flex;
      background-color: var(--bg-0);
    }

    nav.responsive {
      display: none;
    }

    li.brand {
      margin-bottom: calc(var(--spacing) * 2);

      a svg {
        width: 50px;
        height: auto;
      }
    }

    main {
      height: 100vh;
      width: 100%;
      /* overflow: hidden; */

      > * {
        height: 100vh;
        overflow: auto;
      }
    }
  }
}

/* hotfix for @greycat/web < 6.11 */
:where(dl, ol, ul):not(
    :is(
        :lang(ae),
        :lang(ar),
        :lang(arc),
        :lang(bcc),
        :lang(bqi),
        :lang(ckb),
        :lang(dv),
        :lang(fa),
        :lang(glk),
        :lang(he),
        :lang(ku),
        :lang(mzn),
        :lang(nqo),
        :lang(pnb),
        :lang(ps),
        :lang(sd),
        :lang(ug),
        :lang(ur),
        :lang(yi)
      )
  ) {
  padding-left: calc(var(--spacing) * 4);
}
